{% extends "blog/base.html" %}

{% block content %}
    {% if user.is_active %}
    <p>{{ user.username }}님 반갑습니다.</p>
    <p>{{ user.nickname }}</p>
    <p><a href="{% url 'logout' %}">로그아웃</a></p>
    {% else %}
    <p>로그인 되지 않음</p>
    <p>글쓰기를 하려면 로그인이 필요합니다</p>
    
    
    {% endif %}
    <hr>
    <h1>둗욷우둥두</h1>
    <a href="{% url 'new' %}">글쓰기</a>
    {% for post in posts.all %}
        <div>
            <h2><a href="{% url 'detail' post.id %}">{{post.title}}</a></h2>
            
            <p>{{post.created_date}}</p>
        </div>
    {% endfor %}
{% endblock %}